*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #D9CDF7;
    background-attachment: fixed;

}

main{
    display: flex;
    place-content: center;
    align-items: center;
    height: 100vh;

}

.box{

    /*border: 4px solid lightcoral;*/
    padding: 0px;
    
}




/*sofa*/

#sofa{
    padding: 15px;
}



#sofa button{
    border: none;
    background: none;
}

.box #sofa{
    display: inline-block;
    position: relative;
}


.box .botao{
    display: flex;
    align-items: center;
    justify-content: right;    

}

.box > .botao > button{
    cursor: pointer;
    position:absolute;
    top:39%;
    left:51.3%;
    transform:translate3d(-50%, -50%, 0);
}






/*info*/
#info h1{
    margin: 12px 0px 12px 0px;
    font-size: 32px;
    color: #271A45;
}

#info #codido{
    font-size: 10px;
    color: #271A45;
}

#info #preco{
    font-size: 16px;
    opacity: 67%;
    color: #271A45;
}



#info button{
    padding: 10px;
    border-radius: 999px;
    border: .1px solid black;
    background: none;
    margin-top: 20px;
}

#info button:hover{
    cursor: pointer;
}



@media(max-width: 690px){
    *{
        padding: 0px;
    }
    main{
        display: flex;
        flex-direction: column;
        margin: auto;
        height: auto;
    }
    #sofa{
        padding: 0px;
        padding-top: 40px;
    }

    #info{
        padding: 0px;
        padding-top: 80px;
    }

    
    .box .botao{
        display: flex;
        align-items: center;
        justify-content: right;    

    }

    .box > .botao > button{
        cursor: pointer;
        position:absolute;
        top:9%;
        left:85%;
        transform:translate3d(-50%, -50%, 0);
    }

   

}